
@media only screen and (max-width: 300px) {
    body {
      background-color: red;
      font-size: 15px;
    }
}

  @media only screen and (min-width: 301px) and (max-width: 768px) {
    body {
      background-color: green;
      font-size: 25px;
    }

   #small {
    width: 75%;
   }

   #medium {
    width: 25%;
   }

   #large {
    width: 100%;
   }

}

  @media only screen and (min-width: 769px) {
    body {
      background-color: blue;
      font-size: 35px;
      display: flex;

    }

    #small, #medium, #large {
        width: auto;
    }
  }